extends includes/layout
block main-content
    section.section
        .login
            h4 Enter username
            br
            form.loginForm
                input#username(type="text", placeholder="Username")
                input#submit-name(type="submit", value="OK")

        .invite(style='display: none')
            h2 Oops, there are no other people in this game!
                h5 Invite a friend by sending them this URL
                .link
                    a#share-link(title='Invite a friend', href='')

        .opponent(style='display: none')
            h4 Opponent:
                span#opponent-name

        .query(style='display: none')
            span#question
            br
            form#answer-form
                input#answer(type="text", placeholder="Enter combination...")
                br
                input#submit-answer(type="submit", value="Answer")

    script(type="text/javascript" src="/js/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/app.js")