extends includes/layout
block main-content
    .bar(style='display: none')
        .row
            .col-xs-5
                .row.player.player_1
                    .col-xs-4
                        img.img-responsive(src="/img/default_avatar.jpg")
                    .col-xs-8
                        .player__health
                            .player__health-inner
                        h1.player__name Alex
            .col-xs-2
                h1.page__title.text-center Notepad++ fight
            .col-xs-5
                .row.player.player_2
                    .col-xs-8
                        .player__health
                            .player__health-inner
                        h1.player__name.text-right Petro
                    .col-xs-4
                        img.img-responsive(src="/img/default_avatar.jpg")
    .question(style='display: none')
        .question__progress
        .question__inner
            h2.question__title Select text

    .container
        .invite(style="display: none")
            .row
                .col-xs-6.col-xs-offset-3
                    .createbox
                        h2 Waiting for another player
                            h5 Invite a friend by sending them this URL
                            .link
                                input.app-link.input-lg.form-control(type="text" value=appLink)
        .login(style="display: none")
            .row
                .col-xs-6.col-xs-offset-3
                    .createbox
                        .createdbox__title.text-center Enter username
                            .createbox__input
                                form.input-group.input-group-lg.loginForm
                                    input.form-control(type='text', placeholder='Username')
                                    span.input-group-btn
                                        input.btn.btn-default(type='submit' value="Start")
                                
    #arena

    script(type="text/javascript" src="/js/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/mk.js/game/src/movement.js")
    script(type="text/javascript" src="/js/mk.js/game/src/mk.js")
    script(type="text/javascript" src="/js/fighters.js")
    script(type="text/javascript" src="/js/app.js")
    script.
        (function () {

            function $1(id) {
                return document.getElementById(id);
            }

            function setLife(container, life) {
                container.find(".player__health-inner").width(life + "%");
            }

            document.onkeydown = function (e) {
                if (e.keyCode === 32) {
                    window.location.reload();
                }
            };

            (function () {
                var options = {
                    arena: {
                        container: document.getElementById('arena'),
                        arena: mk.arenas.types.THRONE_ROOM,
                        width: document.body.clientWidth,
                        height: $(window).height()
                    },
                    fighters: [{ name: 'Subzero' }, { name: 'Kano' }],
                    callbacks: {
                        attack: function (f, o, l) {
                            if (o.getName() === 'kano') {
                                setLife($('.player_1'), o.getLife());
                            } else {
                                setLife($('.player_2'), o.getLife());
                            }
                        }

                    },
                    gameType: 'basic'
                };

                function startNewGame() {
                    mk.start(options).ready(function () {
                    });
                }
                //startNewGame();
            }());
        }());
