extends includes/layout
block js
    script(type="text/javascript" src="/js/dojo.js")
    script(type="text/javascript" src="/js/adapter.js")
block main-content
    .bar
        .row
            .col-xs-5
                .row.player.player_1
                    .col-xs-4
                        video#localVideo.img-responsive(autoplay muted)
                    .col-xs-8
                        .player__health
                            .player__health-inner
                        h1.player__name Palyer 1
            .col-xs-2
                h1.page__title.text-center Notepad++ fight
            .col-xs-5
                .row.player.player_2
                    .col-xs-8
                        .player__health
                            .player__health-inner
                        h1.player__name.text-right Player 2
                    .col-xs-4
                        video#remoteVideo.img-responsive(autoplay='')                          

    .questions
    .question(style='display: none')
        .question__progress
        .question__inner
            h2.question__title

    .container
        .invite(style="display: none")
            .row
                .col-xs-6.col-xs-offset-3
                    .createbox
                        h2 Waiting for another player
                            h5 Invite a friend by sending them this URL
                            .link
                                input.app-link.input-lg.form-control(type="text" value=appLink)
        .login(style="display: none")
            .row
                .col-xs-6.col-xs-offset-3
                    .createbox
                        .createdbox__title.text-center Enter username
                            .createbox__input
                                form.input-group.input-group-lg
                                    input.user-name.form-control(type='text', placeholder='Username')
                                    span.input-group-btn
                                        input.btn.btn-default(type='submit' value="Start")
                                
    #arena
