extends includes/layout
block main-content
    .container
        .row
            .col-xs-6.col-xs-offset-3
                .createbox
                    .invite(style='display: none')
                        h4 Oops, there are no other people in this game!
                            h5 Invite a friend by sending them this URL
                            .link
                                a#share-link(title='Invite a friend', href='')
                    .login
                        .createdbox__title.text-center Enter username
                        .createbox__input
                            form.input-group.loginForm
                                input#username.form-control(type='text', placeholder='Username')
                                span.input-group-btn
                                    input#submit-name.btn.btn-default(type='submit' value="ok")
        .players(style='display: none')
            span Player:
                | &nbsp;
                span#player-name
            br
            span Opponent:
                | &nbsp;
                span#opponent-name
        .winner(style='display: none')
            br
            h2 Winner:
                | &nbsp;
                span#winner-name
        .query(style='display: none')
            br
            br
            span#shortcut-action
            form#answer-form
                input#answer(type="text", placeholder="Enter combination...")
                input#submit-answer(type="submit", value="Answer")
    script(type="text/javascript" src="/js/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/app.js")