extends includes/layout
block main-content
    header
        .container
    section
        div.createbox
            form(name="create", action="/dojo/notepad++/create", method="post")
                input(type="submit", value="create")
