html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
}

.page {
    width: 100%;
    height: 100%;
    background: url("../img/1.gif") no-repeat center center;
    background-size: cover;
}

.page__content {
}

.page__title {
    color: #FFFFFF;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.createbox {
    margin-top: 200px;
    padding: 20px 40px 40px;
    background-color: rgba(40, 40, 40, 0.5);
}

.createdbox__title {
    font-size: 55px;
    color: white;
    margin-bottom: 20px;
}

.createbox .createdbox__button {
    padding: 0 30px;
    color: #4C4C4C;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
    border: none;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 10px #fff;
}

.createbox .createbox__input {
}

.invite .createbox {
    color: white;
}

.stat {
    /*display: none;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -100px;
    background: white;
    padding: 0 20px 20px;*/
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.player {
    padding: 30px 20px;
}

.player img {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.player__health {
    height: 30px;
    border: 2px solid #ffffff;
    width: 100%;
}

.player__health-inner {
    background-color: rgba(200, 30, 30, 0.7);
    height: 100%;
}

.player__name {
    color: #FFFFFF;
    font-size: 45px;
    margin-top: 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.question {
    position: absolute;
    bottom: 35%;
    left: 120px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 40px 10px rgba(20, 140, 20, 0.5);
    text-align: center;
    overflow: hidden;
    -webkit-animation: a-shadow 5s linear;
    -moz-animation: a-shadow 5s linear;
    animation: a-shadow 5s linear;
}

.question__progress {
    height: 0;
    background-color: green;
    -webkit-animation: a-progress 5s linear;
    -moz-animation: a-progress 5s linear;
    animation: a-progress 5s linear;
}

.question__inner {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    width: 190px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 60px;

}

.question__title {
    color: #111;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);

}

@-webkit-keyframes a-progress {
    from {
        height: 0%;
        background-color: green;
    }
    to {
        height: 100%;
        background-color: red;
    }
}

@keyframes a-progress {
    from {
        height: 0%;
        background-color: green;
    }
    to {
        height: 100%;
        background-color: red;
    }
}

@-webkit-keyframes a-shadow {
    from {
        box-shadow: 0 0 40px 10px rgba(20, 140, 20, 0.5);
    }
    to {
        box-shadow: 0 0 40px 10px rgba(240, 20, 20, 0.5);
    }
}

@keyframes a-shadow {
    from {
        box-shadow: 0 0 40px 10px rgba(20, 140, 20, 0.5);
    }
    to {
        box-shadow: 0 0 40px 10px rgba(240, 20, 20, 0.5);
    }
}
