doctype
html
    head
        title Hotkey Ninja
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/index.css")
        link(rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.css")
    body
        .page
            block main-content