doctype
html
    head
        title Hotkey Ninja
        link(rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/js/lodash/dist/lodash.js")
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="/css/index.css")
        script(type="text/javascript" src="/js/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/socket.io/socket.io.js")
        script(type="text/javascript" src="/js/mk.js/game/src/movement.js")
        script(type="text/javascript" src="/js/mk.js/game/src/mk.js")
        script(type="text/javascript" src="/js/fighters.js")
        script(type="text/javascript" src="/js/app.js")
        block js
    body
        .page
            block main-content
