doctype
html
    head
        title Hotkey Ninja
        link(rel="stylesheet" href="/css/styles.css")
    body
        block main-content
        footer
            p.text-center
            | &copy; IT Jam 2014